/* CSS STYLESHEET */

@font-face 
{
    font-family: 'NotoSans';
    src: url('fonts/NotoSansTC-Medium.ttf') format('truetype');
}

*, *::before, *::after 
{
    box-sizing: border-box; /* 這是防止排版爆炸的最重要一行 */
}

body 
{
    font-family: 'NotoSans', sans-serif;
    color: #dfcbed;
    overflow-x: hidden;
    background-image: url(images/Assets/SiteBackground_Dark.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.light-mode 
{
    background-image: url(images/Assets/SiteBackground_Light.png);
    color: #4e1c74;
}

h2 
{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
}

a:-webkit-any-link 
{
    color: rgb(127, 138, 255);
    cursor: pointer;
    text-decoration: underline;
}

body.light-mode a:-webkit-any-link 
{
    color: rgb(23, 36, 178);
}

.book 
{
    background-image: url(images/Assets/BookBase_Dark.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    width: 78vw;
    max-width: 900px;
    aspect-ratio: 3 / 2; 
    margin: auto;
}

body.light-mode .book 
{
    background-image: url(images/Assets/BookBase_Light.png);
}

.book-bg 
{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;  
    z-index: 0;
}

.book-ui 
{
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 5;
    padding-left: 7%;
    padding-right: 2%;
    padding-top: 6%;
    box-sizing: border-box;
}

/* 左右頁 */
.page 
{
    z-index: 10;
    padding: 25px;
    font-size:20px;
    height: 90%; 
    overflow-y: auto;    /* 內容多就自己滾 */
}

/* 捲軸 */
.page::-webkit-scrollbar 
{
    width: 6px;
}

.page::-webkit-scrollbar-thumb 
{
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
}

/* 左頁 */
.left 
{
    width: 40%;
    box-sizing: border-box;
    position: relative; 
}

/* 右頁 */
.right 
{
    box-sizing: border-box;
    padding-left: 8%;
    width: 60%;
}

/* 書籤 */
.tabs 
{
    position: absolute;
    left: 97.6%; /*right: -24px;*/
    top: 10%;
    display: flex; /*這個沒有好像也不會怎樣？？*/
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
} 

.tab
{
    color: #f2e9f9; /*字稍微比書本內容再淡一點*/
    font-size: 16px;
    background-image: url(images/Assets/BookmarkBase_Dark.png);
    background-color: transparent;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    white-space: nowrap; /*不換行*/
    text-decoration: none;
    text-align: left;
    padding: 8px 14px;
    margin-bottom: 5px;
    border: none; 
    outline: none;
    aspect-ratio: 8 / 1; /*這樣可以讓它變高但是不改變寬度也不會裁切*/
}

body.light-mode .tab
{
    color: #4e1c74;
    background-image: url(images/Assets/BookmarkBase_Light.png);
}

.sub-tabs 
{
  display: none;
  margin-bottom: 10px;
}

.sub-tabs a 
{
  color: #4e1c74;
  font-size: 16px;
  background-image: url(images/Assets/SubBookmarkBase_Dark.png);
  background-size: contain;
  background-color: transparent;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px 14px;
  margin-top: 6px;
  border-radius: 0 8px 8px 0;
  text-decoration: none;
  white-space: nowrap;

}

body.light-mode .sub-tabs a 
{
  color: #4e1c74;
  background-image: url(images/Assets/SubBookmarkBase_Light.png);
}

.tab-group.open .sub-tabs 
{
  display: block;
}

.tab:hover 
{
    cursor: pointer;
}

.theme-toggle-btn
{
    position: absolute;
    bottom: 91%;     
    left: 15%;         
    width: clamp(21px, 8%,31.5px);
    aspect-ratio: 69 / 108;
    background-image: url(images/Assets/DarkModeToggleMark.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 20;
}

body.light-mode .theme-toggle-btn
{
    background-image: url(images/Assets/LightModeToggleMark.png);
}

/* 那些展開的便利貼 */
.expand-content 
{
    display: none;
    overflow-y: auto;
    max-height: none;
    margin-top: 1px;    
    /* 格式：上 右 下 左 */
    padding: 8px 5px 0px 28px;
}

.expand-content-wrapper
{
    display: none;
}

.expand-content-wrapper.show
{
    display: block;
    border-image-slice: 18 15 29 23 fill;
    border-image-repeat: stretch;
}

.expand-content-top
{
    background-image: url(images/Assets/StickyNoteBase_Top_Dark.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 18px;
    box-sizing: border-box;
}

.expand-content-top p
{
    margin-top: 0px;
    margin-bottom: 0px;
}

body.light-mode .expand-content-top
{
    background-image: url(images/Assets/StickyNoteBase_Top_Light.png);
}

.expand-content-mid
{
    background-image: url(images/Assets/StickyNoteBase_Mid_Dark.png);
    background-size: 100% auto;
    background-repeat: repeat-y;
    width: 100%;
    height: auto;
    padding: 0px 15px 0px 23px;
    box-sizing: border-box;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

body.light-mode .expand-content-mid
{
    background-image: url(images/Assets/StickyNoteBase_Mid_Light.png);
}

.expand-content-bottom
{
    background-image: url(images/Assets/StickyNoteBase_Bottom_Dark.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 29px; 
    display: block;
}

body.light-mode .expand-content-bottom
{
    background-image: url(images/Assets/StickyNoteBase_Bottom_Light.png);
}


.expand-content.show 
{
    display: block;
    max-height: none;
}

button.expand-btn 
{
    color: #dfcbed;
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    text-align: left;
}

body.light-mode button.expand-btn 
{
    color: #4e1c74;
}

button.expand-btn:hover
{
    color: #ca6d9a;
}

.collapse-btn 
{
    margin: 10px auto 0px;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #b1b1b1;
}

body.light-mode .collapse-btn 
{
    color: #666;
}

.collapse-btn:hover 
{
    color: #ca6d9a;
}


.block 
{
    border: 2px solid #333;
    margin-top: 6px;
    height: 140px;  
    display: flex;
    flex-direction: column;
    background: #fff;
}

.block-small 
{
    height: 120px;
}

.block-large 
{
    height: 200px; 
}


.block h3 
{
    margin: 0;
    padding: 6px;
    background-color: #ddd;
    font-size: 18px;
}

.block-content 
{
    font-size: 18px;
    margin: 0;
    padding: 8px;
    overflow-y: auto;    
    flex: 1;
}

.post-date
{
    font-size: 12px;
    color: #888;
    margin-bottom: 2px;
}

.comment-block
{
    display: flex;
    gap: 6px;
    margin-left: 20px;
    margin-top: 6px;
}

.comment-arrow
{
    color: #aaa;
    flex-shrink: 0;
}

.comment-content
{
    background: rgba(255, 255, 255, 0.095);
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 14px;
}

body.light-mode .comment-content
{
    background: rgba(0,0,0,0.04);
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 14px;
}

.comment-content p
{
    margin: 2px 0;
}

.comment-date
{
    color: #aaa;
    font-size: 12px;
    margin-left: 6px;
}

.default-text-area 
{
    margin-top: 20px;
    line-height: 1.6;
    color: #333;
    font-size: 18px;
}

.default-text-area img 
{
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.page img 
{
    cursor: zoom-in;
    transition: 0.3s;
}

.page img:hover 
{
    opacity: 0.8;
}

/* ===== 放大圖片用的 ===== */

#image-modal 
{
    position: fixed;
    inset: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    cursor: zoom-out;
}

#image-modal.show 
{
    display: flex;
}

#image-modal-img 
{
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background: white;
}
